{% extends 'base.html.twig' %}


{% block content %}
    <div class="container">
        <h2>Liste des Livres</h2>




        {% if marquePages is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Commentaire</th>
                        <th>Date de Sortie</th>
                        <th>Lien vers detail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mpr in marquePages %}
                        <tr>
                            <td>{{ mpr.id }}</td>
                            <td>{{ mpr.url }}</td>
                            <td>{{ mpr.commentaire }}</td>
                            <td>{{ mpr.dateDeCreation | date }}</td>
                            <td><a href="{{ path('detail', {'id': mpr.id}) }}" class="btn btn-primary">Voir les détails</a></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun Livre trouvé.</p>
        {% endif %}
        {#<a href="{{ path('marquepage_ajouter') }}" class="btn btn-primary">Ajouter un Marque Page</a>#}
        <a href="{{ path('requete') }}" class="btn btn-primary">Aller à la page Requête</a>

    </div>
{% endblock %}
