{% extends 'base.html.twig' %}

{% block content %}

{% if cayoux is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Lien vers détail</th>
            </tr>
        </thead>
        <tbody>
            {% for cay in cayoux %}
                <tr>
                    <td>{{ cay.getNomCategorie() }}</td>
                    <td><a href="{{ path('contenucaillou', {'id': cay.id}) }}" class="btn btn-primary">Voir les détails</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune Catégorie trouvée.</p>
{% endif %}
{# Formulaire d'ajout de nouvelle catégorie #}
<h2>Ajouter une nouvelle catégorie</h2>

{{ form_start(form) }}
{{ form_row(form.nom_categorie) }}
<button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
