{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">

        <style>
            .table {
                border-width: 1px;
                border-style: solid;
                border-color: black;
            }

            td {
                border-width: 1px;
                border-style: solid;
                border-color: black;
                width: 50%;
            }
        </style>

        {% if livre is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Valeurs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{ livre.id }}</td>
                    </tr>
                    <tr>
                        <td>Titre</td>
                        <td>{{ livre.titre }}</td>
                    </tr>
                    <tr>
                        <td>Auteur</td>
                        <td>{{ livre.auteur.nom }} {{ livre.auteur.prenom }}</td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>Aucun Livre trouvé.</p>
        {% endif %}
        
        <a href="{{ path('livre_ajouter') }}" class="btn btn-primary">Ajouter un Livre</a>

    </div>
{% endblock %}
