{# templates/livres/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h3>Ajout de Livre</h3>

            <div>
                {{ form_start(formLivre) }}
                {{ form_row(formLivre.titre) }}
                {{ form_row(formLivre.auteur) }}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(formLivre) }}
            </div>
        </div>
        <h2>Liste des Livres</h2>

        {% if livres is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Lien vers détail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livr in livres %}
                        <tr>
                            <td>{{ livr.titre }}</td>
                            <td><a href="{{ path('detaillivre', {'id': livr.id}) }}" class="btn btn-primary">Voir les détails</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun Livre trouvé.</p>
        {% endif %}


    </div>
{% endblock %}
